@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Roboto-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400 599;
    src: url(../fonts/Roboto-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400 499;
    src: url(../fonts/Roboto-Italic.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500 699;
    src: url(../fonts/Roboto-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700 1000;
    src: url(../fonts/Roboto-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600 1000;
    src: url(../fonts/Roboto-BoldItalic.woff2) format('woff2');
}

.supported-browser {
    display: none;
}

@supports (color: color-mix(in srgb, red 50%, blue 50%)) {
    .unsupported-browser {
        display: none;
    }

    .supported-browser {
        display: block;
    }
}